* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Work Sans', sans-serif;
	background-color: #E8E8E8;
	color: #444444;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    opacity: 0;
}

.wrapper.loaded {
    opacity: 1;
    transition: 0.9s ease-in-out;
}

.mobile-overview {
	display: none;
}

.container {
	padding: 0 16px;
	margin: 0 auto;
    max-width: 1100px;
}

header {
    background: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 0px;
}

header img {
	max-height: 40px;
}

.main-section {
	margin: 50px 0px;
	display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    min-height: -webkit-calc(100vh - 64px);
    min-height: -moz-calc(100vh - 64px);
    flex-direction: column;
}

#step1 .title {
	text-transform: uppercase;
	text-align: center;
	font-size: 70px;
	line-height: 70px;
}

#step1 .title span {
	font-weight: 700;
}

#step1 .title span:last-of-type {
	color: #FF492A;
}

#step1 .form-section {
	display: flex;
	margin: 50px 0px;
	justify-content: space-between;
}

#step1 .form-section .left-section {
    text-align: center;
    width: 49%;
}

#step1 .form-section .left-section .no-account {
	font-weight: 700;
	margin-bottom: 16px;
}

#step1 .form-section .left-section .sign-up-now {
	font-size: 14px;
	margin-bottom: 16px;
}

.steps-order {
    display: flex;
    font-size: 13px;
    margin: 40px 0px;
}

.steps-order div {
	background-color: #fff;
	display: flex;
	align-items: center;
	flex: 0.33;
	padding-left: 45px;
	position: relative;
	min-height: 40px;
	z-index: 1;
}

.steps-order div:first-of-type {
	background-color: #FF492A;
	color: #fff;
}

.steps-order div:before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    left: -11px;
    top: -4px;
    background-color: #fff;
    border-radius: 50%;
    z-index: -1;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
}

.steps-order div:first-of-type:before {
	background-color: #FF492A;
	background-image: url(../img/account.svg);
}

.steps-order div:nth-child(2):before {
	background-image: url(../img/verification.svg);
}

.steps-order div:last-of-type:before {
	background-image: url(../img/enjoy.svg);
}

#step1 .form-section .left-section .create-free-account, #step1 .form-section .right-section .accept-privacy {
	font-size: 14px;
}

#step1 .form-section .right-section {
	text-align: left;
	width: 49%;
}

#step1 .form-section .right-section .sign-up {
	color: #FF492A;
	font-weight: 700;
	margin-bottom: 16px;
}

#step1 .form-section .right-section .enter-email {
	font-size: 14px;
	margin-bottom: 16px;
}

.forms-wrapper {
	display: flex;
    font-size: 13px;
    margin: 40px 0px;
}

.forms-wrapper input {
	min-height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    flex: 0.70;
    text-indent: 50px;
    background-image: url(../img/email.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 5px 10px;
}

button {
	color: #fff;
	cursor: pointer;
	background-color: #9CE226;
	border: none;
}

.forms-wrapper button, .bottom-btn {
	min-height: 40px;
	flex: 0.30;
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
    padding: 2px 50px 0px 25px;
    position: relative;
    z-index: 1;
    outline:none;
}

.forms-wrapper button:after, .bottom-btn:after {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    right: -11px;
    top: -5px;
    background-color: #9CE226;
    background-image: url(../img/play.png);
    border-radius: 50%;
    z-index: -1;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 17px 50%;
}

.content-section {
	display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.content-section .left-section, .content-section .right-section {
	width: 49%;
}

.content-section .content-title, .content-section .content-title-checked {
    background-color: #fff;
    min-height: 50px;
    padding: 0px 10px 0px 75px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.content-section .content-title:before, .content-section .content-title-checked:before {
    content: '';
    width: 70px;
    height: 70px;
    position: absolute;
    left: -15px;
    top: -12px;
    background-color: #fff;
    border-radius: 50%;
    z-index: -1;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
}

.content-section .content-title1:before {
	background-image: url(../img/free.svg);
}

.content-section .content-title2:before {
	background-image: url(../img/search.svg);
}

.content-section .content-title3:before {
	background-image: url(../img/no-ads.svg);
}

.content-section .content-title4:before {
	background-image: url(../img/download.svg);
}

.content-section .content-title5:before {
	background-image: url(../img/devices.svg);
}

.content-section .content-text {
	font-size: 14px;
	margin: 20px 75px 30px 75px;
}

.content-section .sub-title {
	margin: 50px 16px 20px 75px;
	font-weight: 700;
	font-size: 22px;
}

.content-section .sub-content {
	margin: 0px 0px 0px 75px;
	font-size: 14px;
}

.content-section .content-title-checked {
	margin-top: 40px;
}

.content-section .content-title-checked:before {
	background-image: url(../img/checked.svg);
}

.content-section .right-section {
	text-align: center;
}

.content-section .device-title {
	text-transform: uppercase;
	font-weight: 700;
	margin: 16px 0px;
}

.content-section .device-content {
	font-size: 14px;
}

.content-section .devices {
	position: relative;
	margin: 10px 0px 60px;
}

.content-section .devices:after {
	width: 35px;
    height: 35px;
    background-color: #fff;
    border: 15px solid #FF492A;
    border-radius: 50%;
    position: absolute;
    left: 60px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF492A;
    font-size: 22px;
}

.content-section .mobile-version:after {
	content: '1';
}

.content-section .desktop-version:after {
	content: '2';
}

.content-section .all-devices:after {
	content: '3';
}

.step2-wrapper {
	display: flex;
	margin: 50px 0px;
	justify-content: space-between;
	text-align: left;
}

.step2-wrapper .left-section {
	flex: 0.42;
}

.step2-wrapper .right-section {
	flex: 0.55;
}

.step2-wrapper .overview, .step2-wrapper .total {
	font-size: 19px;
	font-weight: 700;
	margin-bottom: 20px;
}

.step2-wrapper .overview-line {
	display: flex;
	justify-content: space-between;
}

.step2-wrapper .value {
	text-transform: uppercase;
}

.step2-wrapper .customer-reviews {
	letter-spacing: -0.02em;
	font-size: 11px;
}

.step2-wrapper .terms-info {
	margin-top: 100px;
}

.step2-wrapper .terms-info .title-terms {
	font-weight: 700;
	font-size: 18px;
}

.step2-wrapper .terms-info .content-terms {
	font-size: 13px;
	margin: 20px 0px;
	letter-spacing: -0.02em;
}

.step2-wrapper .form-section {
	background-color: #fff;
	border-radius: 13px;
	padding:25px;
}

.step2-wrapper .form-section .your-information {
	font-weight: 700;
	font-size: 20px;
}

.step2-wrapper .form-section .validate-account {
	font-weight: 500;
	font-size: 19px;
}

.step2-wrapper .form-section .cc-not-charged{
	font-size: 14px;
}

.step2-wrapper .form-section form {
	margin: 30px 0px;
}

.step2-wrapper .form-section input:not([type='checkbox']), .step2-wrapper .form-section select {
	width: 100%;
	color: rgba(0, 0, 0, 0.4);
	background: #F2F2F2;
	border-radius: 13px;
	border: none;
	text-indent: 20px;
	min-height: 50px;
	font-size: 18px;
	margin-top: 10px;
}
.step2-wrapper .form-section label {
	margin-top: 10px;
	display: block;
}

.step2-wrapper .form-section label strong {
	font-weight: 400;
}

input:not([type='checkbox']):focus, select:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
}

.step2-wrapper .form-section .selects-wrapper, .step2-wrapper .form-section .cvc-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.step2-wrapper .form-section .month-wrapper, .step2-wrapper .form-section .year-wrapper, .step2-wrapper .form-section .cvc-input-wrapper {
	flex: 0.45;
}

.step2-wrapper .form-section .cvc-info-wrapper {
    flex: 0.5;
    font-size: 14px;
}
.step2-wrapper .form-section .agreement {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
}

.step2-wrapper .form-section .agreement label {
	margin-top: 0px;
	font-size: 14px;
	margin-left: 10px;
}

.step2-wrapper .form-section button {
	width: 100%;
	border-radius: 13px;
	text-transform: uppercase;
	font-size: 20px;
	min-height: 50px;
	font-weight: 600;
	display: flex;
    align-items: center;
    justify-content: center;
}

.step2-wrapper .form-section button img {
	max-height: 20px;
	margin-left: 20px;
}

.step2-wrapper .form-section .why-CC {
	font-weight: 600;
	font-size: 15px;
}

.step2-wrapper .form-section .cc-terms {
	font-size: 11px;
	margin-top: 20px;
}

.status-box {
    min-height: 200px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

.success-alert {
	background-color: #70A76C;
}

.error-alert {
	background-color: #D03535;
}

.status-box button {
	max-width: 200px;
	width: 100%;
	min-height: 30px;
	margin:5px 0px;
}

#dontSkipSecure {
	background-color: red;
}

footer {
	font-size: 11px;
	text-align: center;
	margin: 50px 0px 0px;
}

footer .terms-links a {
    text-decoration: none;
    color: #444444;
    margin: 4px;
}

@media (max-width: 991px) {
	.desktop-overview {
		display: none;
	}

	.mobile-overview {
		display: block;
	}

	.container {
		max-width: 700px;
	}

	#step1 .title {
	    font-size: 44px;
	    line-height: 44px;
	}

	#step1 .form-section .left-section {
		display: none;
	}

	#step1 .form-section .right-section {
	    width: 100%;
	}

	.content-section .content-title, .content-section .content-title-checked {
		font-size: 14px;
	    padding: 0px 10px 0px 55px;
	}

	.content-section .content-text {
	    margin: 20px 50px 30px 50px;
	}

	.content-section .sub-title {
	    margin: 50px 16px 20px 50px;
	    font-size: 18px;
	}

	.content-section .sub-content {
	    margin: 0px 0px 0px 50px;
	}

	.devices img {
		max-width: 300px;
	}

	.content-section .devices:after {
	    left: 16px;
	}

	.step2-wrapper {
	    flex-direction: column-reverse;
	}

	.step2-wrapper .form-section .your-information {
	    margin-top: 70px;
	}
}

@media (max-width: 767px) {
	#step1 .title {
	    font-size: 35px;
	    line-height: 35px;
	}

	.forms-wrapper, .content-section {
	    flex-direction: column;
	}

	.content-section .left-section, .content-section .right-section {
	    width: 100%;
	}

	.forms-wrapper button {
		margin-top: 10px;
	}

	.content-section .content-title, .content-section .content-title-checked {
	    font-size: 12px;
	    margin-left: 11px;
	}

	.content-section .content-text {
	    font-size: 12px;
	}

	.content-section .sub-content {
	    font-size: 12px;
	}

	.main-section {
    	margin: 25px 0px;
	}

	.step2-wrapper {
		margin: 0 0 50px;
	}

	.step2-wrapper .form-section {
	    padding: 10px 10px 60px 10px;
	}

	.step2-wrapper .form-section .cc-not-charged {
	    font-size: 12px;
	}

	.step2-wrapper .form-section input:not([type='checkbox']), .step2-wrapper .form-section select {
	    min-height: 40px;
	    font-size: 16px;
	}

	.step2-wrapper .form-section .selects-wrapper, .step2-wrapper .form-section .cvc-wrapper {
	    flex-direction: column;
	    align-items: inherit;
	}

	.step2-wrapper .form-section .cvc-info-wrapper {
	    font-size: 12px;
	    margin-top: 15px;
	}

	.step2-wrapper .form-section .agreement label {
	    font-size: 12px;
	    margin-left: 7px;
	}

	.step2-wrapper .form-section button {
	    min-height: 40px;
	    display: block;
	}
}

@media(max-width: 470px) {
	.devices img {
	    max-width: 260px;
	}
}
